In [1]:
class Students():
    #numStudentsInClass = 0
    def __init__(self,Fname,Lname,gpa,age):
        self.Fname = Fname
        self.Lname = Lname
        self.gpa = gpa
        self.age = age
        #Students.numStudentsInClass+=1
        
    def print_student(self):
        print("{} {}".format(self.Fname,self.Lname))
    
    def getStudent(self):
        return self.Fname+" "+self.Lname+" gpa: "+str(self.gpa)+" age: "+str(self.age)

class Course():
    def __init__(self,courseName,students):
        self.courseName = courseName
        self.students = students
        
    def getCourseName(self):
        return self.courseName
    
    def addStudent(self,newStudent):
        self.students.append(newStudent.getStudent())
        
    def dropStudent(self,newStudent):
        self.students.remove(newStudent.getStudent())
        
    def getStudents(self):
        return self.students

In [2]:
student1 = Students('Emily','Lo',4.0,15)
student2 = Students('Taiwo','Togun',1.7,22)
student1.print_student()
student2.print_student()

Emily Lo
Taiwo Togun

In [3]:
students = list()
student3 = Students('Joe','Smith',3.8,17)
students.append(student1.getStudent())
students.append(student2.getStudent())
students.append(student3.getStudent())
print(students)
course1 = Course('Math', students)
print(course1.getCourseName())
course1.addStudent(Students('Alice','Wonder',2.5,18))
course1.dropStudent(Students('Emily','Lo',4.0,15))
print(course1.getStudents())

['Emily Lo gpa: 4.0 age: 15', 'Taiwo Togun gpa: 1.7 age: 22', 'Joe Smith gpa: 3.8 age: 17']
Math
['Taiwo Togun gpa: 1.7 age: 22', 'Joe Smith gpa: 3.8 age: 17', 'Alice Wonder gpa: 2.5 age: 18']