In [4]:
from pandas import DataFrame, read_csv
import matplotlib.pyplot as plt
import pandas as pd
import sys
import matplotlib
%matplotlib inline
print('Python version ' + sys.version)
print('Pandas version ' + pd.__version__)
print('Matplotlib version ' + matplotlib.__version__)

Python version 3.7.4 (default, Aug 13 2019, 15:17:50)
[Clang 4.0.1 (tags/RELEASE_401/final)]
Pandas version 0.25.1
Matplotlib version 3.1.1

### Create Data
- The data set will consist of 5 baby names and the number of births recorded for that year (1880).

In [6]:
names = ['Bob','Jessica','Mary','John','Mel']
births = [968, 155, 77, 578, 973]
# merge the two lists using zip

In [7]:
BabyDataSet = list(zip(names,births))
print(BabyDataSet)

[('Bob', 968), ('Jessica', 155), ('Mary', 77), ('John', 578), ('Mel', 973)]

In [10]:
# creating a dataframe object and naming the columns
df = pd.DataFrame(data = BabyDataSet, columns = ["names", "births"])
df

     names  births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973

In [14]:
# exporting dataframe to a csv file
df.to_csv("births1880.csv", index=False, header=False)

### Get Data
- To get data from a csv file, we will use the pandas function read_csv

In [17]:
location = '/Users/emilylo/Desktop/IntroDS'
file_name = "/births1880.csv"
location += file_name
location

'/Users/emilylo/Desktop/IntroDS/births1880.csv'

In [21]:
df = pd.read_csv(location, names=['names','births'])
df

     names  births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973

In [22]:
import os

In [24]:
os.remove(location)

FileNotFoundError: [Errno 2] No such file or directory: '/Users/emilylo/Desktop/IntroDS/births1880.csv'